<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2 class="col-md-3">Introduce el Id  {{userid}} </h2>
    <input type="text" value="{{id::input}}"/>

      <div class="row">
        <!--<h2 style="background-color:powderblue; coluseridor:red;">Hello [[prop1]]!</h2>
        <h2 style="color:red;">Hello [[prop1]]!</h2> -->

        <!--<h2>El name es {{first_name}} </h2>-->
        <h1 class="col-md-12">Visor de Cuentas</h1>
        <h2 class="col-md-5">Id Usuario:  {{userid}}</h2>
        <!--<h2 class="col-md-5">IBAN:  {{IBAN}}</h2>
        <h2 class="col-md-5">Saldo Cuenta:  {{balance}}</h2>-->
      </div>
      <div class="row">

      <button class="btn btn-success" on-click="getaccount">Consultar</button>
            </br>
      </div>
      <h1>Sus Cuentas</h1>
      <template is="dom-repeat" items="{{accounts}}">
        <h3  class="col-md-8"> IBAN - {{item.IBAN}}</h3>
        <h3  class="col-md-3"> Saldo - {{item.balance}}</h3>
      </br>
      </template>
        <iron-ajax
          id="getAccount"
          url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
          content-type="application/json"
          method="GET"
          handle-as="json"
          on-response="manageAJAXResponse"
          on-error="showError"
        >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          userid : {
            type: Number
          }, balance : {
            type: Number
          }, IBAN : {
            type: String
          }, accounts: {
            type: Array
          }
        };
      }

      getaccount () {
        console.log("El usuario ha pulsado el botón");



        //this.$.doLogin.body = JSON.stringify(loginData);
        this.$.getAccount.generateRequest();
        console.log ("Petición Enviada")

      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");

        //console.log(data);
        console.log(data.detail.response);
        //console.log(data.detail.response);
        //console.log(data.detail.response.userid);
        //console.log(data.detail.response.IBAN);
        //console.log(data.detail.response.balance);

        //this.userid = data.detail.response.userid;
        //this.IBAN = data.detail.response.IBAN;
        //this.balance = data.detail.response.balance;
        this.accounts = data.detail.response;
      }

      showError(error){
         console.log("Hubo un error");
         console.log(error);
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
